body { 
    font-size: 10pt;
    padding: 5px;
}
#header {
    clear: left;
    width: 100%;
    background-color: #005682;
    margin-bottom: 5px;
    padding: 10px 5px;
    vertical-align: middle;
    font-size: 16pt;
    color: #fff;
    display: flex;
}
#header img { 
    padding: 1px 20px;
    vertical-align: middle;
    height: 50px;
}
#header h1 {
    font-size: 16pt;
}
#nav {
    clear: left;
    width: 100%;
    text-transform:uppercase; 
}
.navElement {
    float:left;
    background-color: #f0f0f0;
    padding: 3px 10px;
    margin-bottom: 5px;
    margin-right:5px;
}
.navElement:hover {
    background-color: #005682;
    color: white;
}
.navElement a {
    margin: .25rem 1rem .25rem 1rem;
    text-decoration: none;
    color: #000;
}
.navElement a:hover {
    color: #fff;
}
.visited {
    background-color: #005682;
}
.visited a {
    color: #fff;
}
#content {
    clear: left;
    width: 100%;
}
#content p {
    padding: 5px 10px;
    text-align: justify;
}
#footer {
    clear: left;
    width: 100%;
    background-color: #f0f0f0;
    color: gray;
}