body {
    margin: 0;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    --webkit-text-align: center;
    text-align: center;
    width: 400px;
    height: auto;
    background-color: #ccc;
    border: 2px solid silver;
    padding: 30px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    margin-right: .5rem;
    font-size: 1.2rem;
    width: 100px;
    text-align: right;
}

button, input {
    margin-top: .5rem;
    font-size: 1.1rem;
    padding: .2rem .5rem .2rem .5rem;
}

button {
    margin-left: -1.6rem;
}

.error {
    margin: .5rem;
    color: #f00;
}

.success {
    margin: .5rem;
    color: rgb(37, 97, 37);
}